<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TinyBotsEntities" connectionString="metadata=res://*/TinyDbContext.csdl|res://*/TinyDbContext.ssdl|res://*/TinyDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GHOST-MACBOOK\SQL2014;initial catalog=TinyBots;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>